USE [DB_AlquilerAutos]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[ID_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Modulo] [varchar](50) NOT NULL,
	[Criticidad] [varchar](50) NOT NULL,
	[Evento] [varchar](255) NOT NULL,
	[DVH] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DV]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV](
	[Tabla] [nvarchar](50) NOT NULL,
	[DVV] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[IdFamilia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[DVH] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Familia]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Familia](
	[IdPadre] [int] NOT NULL,
	[IdHijo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPadre] ASC,
	[IdHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Patente]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Patente](
	[IdFamilia] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[IdPatente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[DVH] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[DVH] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Familia]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Familia](
	[IdRol] [int] NOT NULL,
	[IdFamilia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Patente]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Patente](
	[IdRol] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Rol]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Rol](
	[ID_Usuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/07/2026 13:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Clave] [varchar](255) NOT NULL,
	[IntentosFallidos] [int] NULL,
	[Bloqueado] [bit] NULL,
	[DNI] [varchar](50) NULL,
	[Apellido] [varchar](100) NULL,
	[Nombre] [varchar](100) NULL,
	[Rol] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Activo] [bit] NULL,
	[IdiomaPreferencia] [varchar](50) NULL,
	[DVH] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([ID_Bitacora], [FechaHora], [Usuario], [Modulo], [Criticidad], [Evento], [DVH]) VALUES (1, CAST(N'2026-05-27T17:04:40.743' AS DateTime), N'Ariana', N'Usuario', N'Baja', N'Login', N'bf466ad109cffa1769ff38a3d836f8fee9a64c4dc5404f47f294abe6bf85ba47')
INSERT [dbo].[Bitacora] ([ID_Bitacora], [FechaHora], [Usuario], [Modulo], [Criticidad], [Evento], [DVH]) VALUES (2, CAST(N'2026-05-27T17:09:13.437' AS DateTime), N'Ariana', N'Usuario', N'Baja', N'Login', N'56dcc99dd3fcbf0ada2baca1b0382408d0675310cbda367007fb64dc5ba345b0')
INSERT [dbo].[Bitacora] ([ID_Bitacora], [FechaHora], [Usuario], [Modulo], [Criticidad], [Evento], [DVH]) VALUES (3, CAST(N'2026-05-27T17:09:43.053' AS DateTime), N'Ariana', N'Usuario', N'Baja', N'Logout', N'361c5cf0c61c9520c3d6da0c7c52c25dab70f20af422bf081971894413c92289')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[DV] ([Tabla], [DVV]) VALUES (N'Bitacora', N'08c832eddd1e71257b72630a7a2e887519ff0fa8fb7efad3c60af381d85504e9')
INSERT [dbo].[DV] ([Tabla], [DVV]) VALUES (N'Familia', N'edc94eb5391c421c7e2fec5b01d25a5ed1497df6aa0930d270bf46a7da33545d')
INSERT [dbo].[DV] ([Tabla], [DVV]) VALUES (N'Patente', N'60b12af3cc22ad27cd78f619b1bcd1e418b3b2be1f15e0d31fc4314c4a87b3bb')
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([IdFamilia], [Nombre], [DVH]) VALUES (5, N'Vendedor mostrador', N'8f6b876765f7312117dd59bf014764d5eab8607aac8161ab08c74bd753daecd3')
INSERT [dbo].[Familia] ([IdFamilia], [Nombre], [DVH]) VALUES (6, N'prueba', N'1617cbed140308a6f9b27fc90cb7e989ffd3881d43b6e4dcea2fce26a897b660')
INSERT [dbo].[Familia] ([IdFamilia], [Nombre], [DVH]) VALUES (7, N'Administrador', N'2e89928d65f806f8f931e209a388cdc95f3c0bc02b0e19b7ca1e61bffab603c8')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[Familia_Patente] ([IdFamilia], [IdPatente]) VALUES (7, 1)
INSERT [dbo].[Familia_Patente] ([IdFamilia], [IdPatente]) VALUES (7, 2)
INSERT [dbo].[Familia_Patente] ([IdFamilia], [IdPatente]) VALUES (7, 4)
GO
SET IDENTITY_INSERT [dbo].[Patente] ON 

INSERT [dbo].[Patente] ([IdPatente], [Nombre], [DVH]) VALUES (1, N'Ver Usuarios', N'1786502ce6e22625e911217e852c9bf9b58497624a77bfa4e45d58dc39cfdfeb')
INSERT [dbo].[Patente] ([IdPatente], [Nombre], [DVH]) VALUES (2, N'Ver Perfiles', N'68ac55236339ed3eae8b671240f5b3dcac0c68aa01b141a11848d2aaed64e217')
INSERT [dbo].[Patente] ([IdPatente], [Nombre], [DVH]) VALUES (3, N'Ver Backup', N'48cd9d4747ffa230b59e94b618f96ad4c5c71b7f8b93a57cc9676f35c68af93b')
SET IDENTITY_INSERT [dbo].[Patente] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre], [DVH]) VALUES (14, N'Auditor Externo', N'fbf6744a0922b0409e889e4637eee66d29b747b82bdc79fa70704b5bb5ac4c21')
INSERT [dbo].[Rol] ([IdRol], [Nombre], [DVH]) VALUES (15, N'prueba perfil', N'0e9e0bec50b5917855ad1df34ebdba967db198c638bc72e9e35871e7cb5304fb')
INSERT [dbo].[Rol] ([IdRol], [Nombre], [DVH]) VALUES (16, N'Administrador', N'1bbc2263ac5ee10c1985bf78e2a41235c23a0d189b14d126234ddee28131392f')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[Rol_Familia] ([IdRol], [IdFamilia]) VALUES (14, 5)
INSERT [dbo].[Rol_Familia] ([IdRol], [IdFamilia]) VALUES (15, 6)
INSERT [dbo].[Rol_Familia] ([IdRol], [IdFamilia]) VALUES (16, 7)
GO
INSERT [dbo].[Usuario_Rol] ([ID_Usuario], [IdRol]) VALUES (2, 16)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID_Usuario], [NombreUsuario], [Clave], [IntentosFallidos], [Bloqueado], [DNI], [Apellido], [Nombre], [Rol], [Email], [Activo], [IdiomaPreferencia], [DVH]) VALUES (1, N'pipi', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', 0, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'f09457ac8134d676b23314775f564284446d1b7ce77c47b24ba1ede395416910')
INSERT [dbo].[Usuarios] ([ID_Usuario], [NombreUsuario], [Clave], [IntentosFallidos], [Bloqueado], [DNI], [Apellido], [Nombre], [Rol], [Email], [Activo], [IdiomaPreferencia], [DVH]) VALUES (2, N'12pos', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', 0, 0, N'123456', N'campos', N'Ari', N'Administrador', N'ari@gmail.com', 1, N'es-AR', N'793374c30a6a2e225b8bc95399c9fec98f1928ccb5d44679b810d7e459a63449')
INSERT [dbo].[Usuarios] ([ID_Usuario], [NombreUsuario], [Clave], [IntentosFallidos], [Bloqueado], [DNI], [Apellido], [Nombre], [Rol], [Email], [Activo], [IdiomaPreferencia], [DVH]) VALUES (3, N'12res', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 0, 0, N'123456', N'torres', N'agus', N'Gerente de Sucursal', N'agustorres@gmail.com', 1, NULL, N'adab9c88ceecc5d646cc3e05737ef74fa07971cf74e49717ff605baf44858cbc')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__6B0F5AE07849AAE6]    Script Date: 01/07/2026 13:04:45 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD FOREIGN KEY([IdHijo])
REFERENCES [dbo].[Familia] ([IdFamilia])
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD FOREIGN KEY([IdPadre])
REFERENCES [dbo].[Familia] ([IdFamilia])
GO
ALTER TABLE [dbo].[Familia_Patente]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([IdFamilia])
GO
ALTER TABLE [dbo].[Familia_Patente]  WITH CHECK ADD FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([IdPatente])
GO
ALTER TABLE [dbo].[Rol_Familia]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([IdFamilia])
GO
ALTER TABLE [dbo].[Rol_Familia]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Rol_Patente]  WITH CHECK ADD FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([IdPatente])
GO
ALTER TABLE [dbo].[Rol_Patente]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario_Rol]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
